@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 1280px;
    background-color: #ffffff;
    margin: auto;
}

/* ########## Header Section ########## */

header{
    width: 1280px;
    height: 700px;
    background-color: #080808;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.top-rectangle{
    display: flex;
    justify-content: center;
    position: top;
    top: 0;
    left: 85px;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    width: 1110px;
    height: 70px;
    background-color: #1b1b1b;
    border-radius: 0 0 8px 8px;
}

.top-menu-items{
    display: flex;
    position: relative;
    gap: 70px;
    list-style: none;
    width: 717px;
    height: 18px;
    align-items: center;
    top: 24px;
}

.top-menu-items a{
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    line-height: 100%;
    letter-spacing: 1%;
    color: #9C9C9C;
}

.socialLinks{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    top: 26px;
    width: 107.54px;
    height: 17px;
    list-style: none;
}

.behanceLogo{
    width: 21.6px;
    height: 13.63px;
}

.twitterLogo{
    width: 17.54px;
    height: 14.28px;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 538px;
    height: 247px;
}

.heading-subheading{
    display: flex;
    flex-direction: column;
    width: 492px;
    height: 154px;
    gap: 10px;
}

.heading{
    display: flex;
    align-items: center;
    font-family: "Raleway";
    color: #ffffff;
    font-weight: 800;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 0;
    width: 426px;
    height: 72px;
}

.heading-subheading p{
    font-family: "IBM Plex Mono";
    color: #9c9c9c;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;
    width: 492px;
    height: 72px;
}

.get-started{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 307.89px;
    height: 63px;
    border-radius: 4px;
    border: solid 1px #62ba1b;
    padding: 21px 64px;
    background-color: #3f8e00;
    text-decoration: none;
    box-shadow: 0px 8px 30px 0px #3F8E0080;
}

.get-started h3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    height: 21px;
    font-family: "IBM Plex Mono";
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    white-space: nowrap;
    color: #ffffff;
}

.get-started img{
    height: 10px;
    width: 5.89px;
}

.my-portrait img{
    width: 350px;
    height: 350px;
    border-radius: 100%;
}

.worked-with{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 920px;
    gap: 20px;
    padding-bottom: 45px;
}

.worked-with h4{
    display: flex;
    align-items: center;
    width: 93px;
    height: 18px;
    gap: 10px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #ffffff;
}

.client-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 920px;
    height: 60px;
}

.client-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    border: 1px solid #1B1B1B;
    border-radius: 6px;
}

/* ########## Case Studies Section ########## */
.case-studies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 897px;
    height: 1242px;
    margin: 80px 176px 80px 207px;
}

.case-studies h2{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 213px;
    height: 40px;
    gap: 10px;
    font-family: Raleway;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
}

.case-studies .case-intro-p{
    width: 570px;
    height: 72px;
    font-family: IBM Plex Mono;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;
    text-align: center;
    margin-bottom: 60px;
}

.study1, 
.study2, 
.study3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.study1,
.study3{
    width: 892px;
    height: 300px;
}

.study2{
    width: 897px;
    height: 300px;
    margin: 80px 0;
}

.study-text{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    padding: 5px 10px;
    font-family: IBM Plex Mono;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1%;
    margin: 27px 0 20px 0;
}

.study1 .tag{
    color: #FFA217;
    background-color: #FFF6E9;
    width: 72px;
    height: 24px;
}

.study2 .tag{
    color: #000AFF;
    background-color: #D0E6FF;
    width: 64px;
    height: 24px;
}

.study3 .tag{
    color: #2AB090;
    background-color: #E0FFF8;
    width: 64px;
    height: 24px;
}

.study-text h4{
    display: flex;
    align-items: center;
    width: 192px;
    height: 28px;
    font-family: Raleway;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #080808;
    margin-bottom: 10px;
}

.study2 .study-text{
    margin-left: 31px;
}

.study-text p{
    display: flex;
    align-items: center;
    width: 421px;
    height: 96px;
    font-family: IBM Plex Mono;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;
    color: #9C9C9C;
}

.case-study-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 189.89px;
    height: 38px;
    margin: 40px 0 17px 0;
    border-radius: 4px;
    padding: 10px 24px;
    text-decoration: none;
}

.study1 .case-study-button{
    background-color: #FFA217;
    box-shadow: 0px 8px 30px 0px #2AB0901A;
}

.study2 .case-study-button{
    background-color: #000AFF;
    box-shadow: 0px 8px 30px 0px #000AFF1A;
}

.study3 .case-study-button{
    background-color: #2AB090;
    box-shadow: 0px 8px 30px 0px #2AB0901A;
}

.case-study-button span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 126px;
    height: 18px;
    font-family: IBM Plex Mono;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #FFFFFF;
}

.case-study-button div{
    display: flex;
    gap: 10px;
}

.study-image-container img{
    width: 445px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0 solid #D9D9D9;
    border-radius: 6px;
    overflow: hidden;
}

/* ########## Testimonials Section ########## */
.testimonials{
    width: 1280px;
    height: 804px;
    background-color: #080808;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials h2{
    width: 209px;
    height: 40px;
    font-family: Raleway;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.testimonials-intro-p{
    width: 570px;
    height: 48px;
    font-family: IBM Plex Mono;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;
    text-align: center;
    color: #9C9C9C;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.decoration-container{
    z-index: 2;
    position: absolute;
    width: 1280px;
    height: 804px;
}

.decoration-container span{
    display: flex;
    align-items: center;
    position: absolute;
    width: 32px;
    height: 117px;
    color: #FFFFFF;
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 1%;
}

.deco-top-left{
    top: 206px;
    left: 190px;
}

.deco-top-right{
    top: 206px;
    left: 665px;
}

.deco-bottom-left{
    top: 480px;
    left: 190px;
}

.deco-bottom-right{
    top: 480px;
    left: 665px;
}

.client-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.client-card{
    width: 445px;
    height: 212px;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 6px;
    background:
    linear-gradient(#080808, #080808) padding-box,
    linear-gradient(90deg, #484848 1.24%, #1B1B1B00 90%) border-box;
}

.top-left,
.top-right{
    margin-bottom: 32px;
}

.client-card p{
    font-family: IBM Plex Mono;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;
    display: flex;
    align-items: center;
    color: #9C9C9C;
}

.top-left p,
.bottom-left p{
    width: 409px;
    height: 72px;
    margin: 30px 6px 30px 30px;
}

.top-right p,
.bottom-right p{
    width: 360px;
    height: 72px;
    margin: 30px 55px 30px 30px;
}

.client-info{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
}

.client-image{
    width: 50px;
    height: 50px;
}

.client-info span{
    width: 107px;
    height: 21px;
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
    color: #FFFFFF;
}

/* ########## Recent Work Section ########## */
.recent-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1109.89px;
    height: 676px;
    margin: 80px 85.11px 79px 85px;
}

.recent-work h2{
    width: 211px;
    height: 40px;
    font-family: Raleway;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
    color: #080808;
    margin-bottom: 10px;
}

.recent-work-intro{
    width: 570px;
    height: 72px;
    font-family: IBM Plex Mono;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;
    text-align: center;
    color: #9C9C9C;
}

.work-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
}

.work-card{
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 494px;
    gap: 20px;
}

.work-image{
    margin-bottom: 20px;
}

.work-card h5{
    width: 192px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Raleway;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #080808;
}

.work-card p{
    width: 421px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: IBM Plex Mono;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;
    color: #9C9C9C;
}

.know-more-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 139.89px;
    height: 38px;
    border: 1px solid #62BA1B;
    background-color: #3f8e00;
    border-radius: 4px;
    box-shadow: 0px 8px 30px 0px #3F8E004D;
    text-decoration: none;
    z-index: 2;
}

.know-more-button div{
    padding: 10px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.know-more-button div span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 18px;
    font-family: IBM Plex Mono;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.left-right-buttons{
    display: flex;
    position: absolute;
    width: 1109.89px;
    height: 676px;
}

.left-arrow-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29.89285659790039px;
    height: 30px;
    top: 414px;
    left: -0px;
    border-radius: 54px;
    border-width: 1px;
    opacity: 1;
    gap: 10px;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
    border: 1px solid #9C9C9C
}

.right-arrow-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29.89285659790039px;
    height: 30px;
    top: 414px;
    left: 1080px;
    border-radius: 54px;
    border-width: 1px;
    opacity: 1;
    gap: 10px;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
    border: 1px solid #9C9C9C
}

/* ########## Get In Touch Section ########## */
.get-in-touch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 672px;
    background-color: #080808;
}

.get-in-touch h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 206px;
    height: 40px;
    font-family: Raleway;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.get-in-touch-intro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 570px;
    height: 48px;
    font-family: IBM Plex Mono;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;
    text-align: center;
    color: #9C9C9C;
    margin-bottom: 40px;
}

.field{
    width: 350px;
    height: 61px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 20px;
}

.email-label{
    width: 36px;
    height: 16px;
    font-family: IBM Plex Mono;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.email-input{
    width: 350px;
    height: 40px;
    opacity: 1;
    gap: 12px;
    border-radius: 4px;
    border-width: 1px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: #F8F8F8;
    border: 1px solid #D8D8D8
}

.email-input::placeholder{
    font-family: IBM Plex Mono;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.mobile-label{
    width: 44px;
    height: 16px;
    font-family: IBM Plex Mono;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.mobile-input{
    width: 350px;
    height: 40px;
    opacity: 1;
    gap: 12px;
    border-radius: 4px;
    border-width: 1px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: #F8F8F8;
    border: 1px solid #D8D8D8
}

.mobile-input::placeholder{
    font-family: IBM Plex Mono;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.message-box{
    width: 350px;
    height: 141px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 20px;
}

.message-label{
    width: 51px;
    height: 16px;
    font-family: IBM Plex Mono;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.message-input{
    width: 350px;
    height: 120px;
    opacity: 1;
    gap: 12px;
    border-radius: 4px;
    border-width: 1px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 8px;
    background-color: #F8F8F8;
    border: 1px solid #D8D8D8;
    overflow: auto;
    resize: none;
}

.message-input::placeholder{
    display: flex;
    align-items: center;
    width: 324px;
    height: 36px;
    font-family: IBM Plex Mono;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: top;
}